@import "@/styles/imports";

.modal {
	width: 48rem;
	.wallet_list {
		width: 100%;
		.wallet_list__item {
			width: 100%;
			padding-block: 1.6rem;
			@include flex(flex-start, center);
			cursor: pointer;
			gap: 1rem;
			&:nth-child(2) {
				border-top: 0.1rem solid $col-border;
			}
			.icon {
				position: relative;
				width: 4rem;
				height: 4rem;
			}
			h3 {
				@extend %text-14;
				font-family: $font-700;
			}
		}
	}
	.text {
		p {
			color: $col-text-secondary;
		}
		a {
			color: #ec733b;
			font-family: $font-700;
		}
	}
}
