@import "@/styles/imports";

.container {
	@include grid(repeat(2, 1fr), 2.4rem);
	width: 100%;
	margin-top: 4rem;
	.game_card {
		width: 100%;
		min-height: 20rem;
		background-color: $col-secondary;
		border-radius: 1.6rem;
		padding: 2.4rem;
	}
}
.title {
	h3 {
		@extend %title-24;
		text-align: center;
	}
	p {
		text-align: center;
		color: $col-text-secondary;
	}
}
@include screenMax("mobile") {
	.container {
		grid-template-columns: 1fr;
		.game_card {
			padding: 1rem;
		}
	}
	.game_buttons {
		grid-template-columns: 1fr;
	}
}
.game_buttons {
	@include grid(repeat(2, 1fr), 2.4rem);
	width: 100%;
	margin-top: 5rem;

	.btn {
		width: 100%;
		min-height: 5rem;
		border-radius: 1.6rem;
	}
}
